#used_points {
	width: 100%;
}
#points_used_field {
	display: none;
}
.woo-rewards-wrapper {
	width: 100%;
}

.woo-rewards-wrapper .loading-bar{
	width: 100%;
	height: 32px;
	background-color: lightgrey;
	border-radius: 0.25rem;
	overflow: hidden;
}

.woo-rewards-wrapper .loaded{
	height: 100%;
	background-color: black;
}